<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:master="http://www.brainspeedtech.com/swarm/master" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
  <notation:Diagram xmi:id="_cG5n8E35EempdbFzvL3GnA" type="Master" element="_cG5n8k35EempdbFzvL3GnA" measurementUnit="Pixel">
    <styles xmi:type="notation:DiagramStyle" xmi:id="_cG5n8U35EempdbFzvL3GnA"/>
  </notation:Diagram>
  <master:MasterDesign xmi:id="_cG5n8k35EempdbFzvL3GnA" name="gen-reactor"/>
</xmi:XMI>
